@font-face {
  font-family: blvd;
  src: url(../fonts/blvd.ttf);
}

body {
  background-color: #f1e8ca;
  font-family: 'Roboto', sans-serif;
}

.nav-title {
  margin: 15% 0 15% 10%;
  font-size: 1.5em;
  color: #dd855c;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.main-title {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.main-title > div {
  font-size: 4em;
  font-family: blvd;
}
